@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@perq/design-tokens/src/tokens.css";

body {
  background-color: var(--bg-base);
  color: var(--text-primary);
  font-family: var(--font-body);
}
